.wrapper{
    margin: 5px;
}

/* 4 */

p{
    font-family: "Times New Roman";
}

dt{
    font-weight: bold;
    font-size: 100px;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    background-color: lightgray;
    border: 3px solid orange;
}

.positioning{
    width: 75%;
    background-color: lightgray;
}

.positioning h1{
    text-align: center;
}

.lotsoftext{
    text-align: left;
    background-color: lightblue;
    width: 5%;
}